<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dev-function-app-achal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0efa9881-bffb-4558-8f68-6c3a3174aab9/resourceGroups/functionApp/providers/Microsoft.Web/sites/dev-function-app-achal</ResourceId>
    <UserName>$dev-function-app-achal</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dev-function-app-achal.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>